@import "../variables";

.aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 13.33vw;
  min-height: 100vh;
  border-right: 0.052vw solid $dark-gray2;
  padding: 1.67vw 0 3.33vw;
  background-color: $gray1;

  &__logo {
    display: block;
    margin: 0 auto 1.25vw;
    width: 2.5vw;
    height: 2.5vw;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 12.9vw);
    padding: 0.42vw 0.83vw;
    overflow: auto;

    &-link {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      height: 2.5vw;
      line-height: 1.25vw;
      padding: 0 0.83vw;
      cursor: pointer;

      &.active {
        background-color: $dark-gray2;
        border-radius: 0.2083vw;
      }
    }

    &-dropdown-button {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0.677vw;
        right: 1.0937vw;
        height: 1.25vw;
        width: 1.25vw;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.59 8.29395L12 12.8739L7.41 8.29395L6 9.70395L12 15.7039L18 9.70395L16.59 8.29395Z' fill='white' fill-opacity='0.56'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      &.isOpen:after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8.29395L6 14.2939L7.41 15.7039L12 11.1239L16.59 15.7039L18 14.2939L12 8.29395Z' fill='white' fill-opacity='0.56'/%3E%3C/svg%3E%0A");
      }
    }

    &-dropdown {
      display: none;
      flex-direction: column;
      gap: 1.823vw;

      &.isOpen {
        display: flex;
      }

      .aside__menu-link {
        display: flex;
        align-items: center;
        min-height: 1.823vw;
        height: auto;
        position: relative;

        &:before {
          content: "";
          display: block;
          height: 0.625vw;
          width: 0.625vw;
          margin-right: 0.9375vw;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6' cy='5.99902' r='5' fill='%231E1E1E' stroke='%234C4C4C' stroke-width='2'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          flex-shrink: 0;
        }

        &:not(:first-of-type) {
          &:after {
            content: "";
            display: block;
            position: absolute;
            left: 1.09vw;
            top: -1.823vw;
            width: 0.104vw;
            height: 1.823vw;
            background-color: $dark-gray;
          }
        }
      }
    }
  }

  &__footer {
    margin-top: auto;
    border-top: 0.052vw solid $dark-gray2;
    padding: 0.42vw 1.67vw;

    p {
      margin-bottom: 0.42vw;
    }

    a {
      border-bottom: 0.052vw solid $light-gray;
    }
  }
}

.page {
  width: calc(100% - 13.33vw);
  margin-left: 13.33vw;
  padding: 1.67vw 2.083vw 2.083vw 1.25vw;

  h1 {
    font-size: 1.67vw;
    line-height: 2.083vw;
    font-weight: 300;
    margin-bottom: 1.25vw;
  }
}
