$white: #ffffff;
$black: #191919;
$gray1: #1E1E1E;
$light-gray: #E6E8E6;
$light-gray2: #868686;
$dark-gray: #CED0CE;
$dark-gray2: #4C4C4C;
$dark-gray3: #4E4E4E;
$dark-gray4: #424242;
$bg-light: #272727;
$bg-light2: #2f2f2f;
$disabled-gray: #515151;
//$red: #F15025;
$blue: #90CAF9;
$green: #689F38;
